<% content_for :head do %>
  <link href="cover.css" rel="stylesheet">
<% end %>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">ＦＯＲ　ＹＯＵ</h1>
        <p class="lead">
          <%= link_to '最も愛を大切に', images_path, class: 'btn btn-lg btn-primary' %>
        </p>
      </div>

    </div>

  </div>

</div>
