<div class="modal fade" id="moaModal" tabindex="-1" role="dialog" aria-labelledby="moaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="moaModalLabel">Something broke (´・ω・`)</h4>
      </div>
      <div class="modal-body">
        <%= image_tag '' %>
        <%= link_to '', '#', class: 'prev' %>
        <%= link_to '', '#', class: 'next' %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Details (temporary)', root_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
