<h1>Moa Album</h1>

<% @images.each do |image| %>
  <%= link_to (image_tag image.url+":thumb", title: image.ghash), image %>
<% end %>

<br>
<p>
  <strong>Count:</strong>
  <%= pluralize(@images.count, 'Moa') %>
</p>
