<div class="navbar-collapse collapse inverse" id="navbar-header">
  <div class="container-fluid">
    <div class="about">
      <h4>About</h4>
      <p class="text-muted">This page is the main interface for browsing Moa
DB, but I am also working on a Facebook Messenger Platform interface.</p>
    </div>
    <div class="social">
      <h4>Contact</h4>
      <ul class="list-unstyled">
        <li><a href="https://www.twitter.com/wukong_sun/">Follow on Twitter</a></li>
        <li><a href="https://www.facebook.com/moabot/">Like on Facebook</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="navbar navbar-static-top navbar-dark bg-inverse">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
data-target="#navbar-header">
      &#9776;
    </button>
    <a href="../" class="navbar-brand">Moa DB</a>
  </div>
</div>

<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Moa Album</h1>
    <p class="lead text-muted">A collection of images of Moa. It currently
contains about <%= pluralize(@images.total_count, 'image') %> of Moa.</p>
    <p>
      <a href="https://m.me/moabot" class="btn btn-secondary">Message Moa Bot on Facebook</a>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container" id="images">

    <div class="page row">
      <%= render @images %>
    </div>

    <%= paginate @images %>

  </div>
</div>

<%= render 'moaModal' %>

<footer class="text-muted navbar-fixed-bottom">
  <div class="container">
    <p>
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
